<div class="d-flex flex-column flex-md-row align-items-center p-4 px-md-4 bg-dark border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal text-white">Pollos | Bienvenido </h5>
  <a class="text-white px-3" href="#">/user.logedIn/</a>
  <a class="btn btn-danger" href="#">Cerrar Sesión</a>
</div>